@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div>
    @await Component.InvokeAsync("UsersList")
</div>
<div>
    @await Component.InvokeAsync("NewUsersList")
</div>
